/* CSS Document */
body{position:relative;}
* html .bersticky{
_background-attachment:fixed;
_position: absolute;
_bottom:auto;
_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||492)-(parseInt(this.currentStyle.marginBottom,10)|0)));
}


body{ background:#e8e8e8; position:relative;}
.backtop, .backtop_bg{ 
		position:fixed; 
		width:49px; 
		height:48px;    
		left: 50%;
    margin-left: 490px; 
    bottom:208px;
    _background-attachment:fixed;
		_position: absolute;
		_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||200)-(parseInt(this.currentStyle.marginBottom,10)||0)));
}
.backtop_bg, .comment_bg{
		background-color:#000;
		filter:alpha(opacity=20); 
		-moz-opacity:0.2; 
		opacity:0.2;
		-moz-border-radius:10px; 
		-webkit-border-radius:10px; 
		border-radius:10px;
}
.backtop{background:url(../images/backtop_btn.gif) no-repeat; cursor:pointer;}

.comment, .comment_bg{ 
		position:fixed; 
		width:49px; 
		height:48px;
    left: 50%;
    margin-left: 490px; 
    bottom:266px;
    _background-attachment:fixed;
    _position: absolute;
    _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||258)-(parseInt(this.currentStyle.marginBottom,10)||0))); }
.comment{background:url(../images/comment_btn.gif) no-repeat;}
.comment, .backtop{ z-index:1;}

.header{ width:960px;margin:0 auto; height:70px; min-height:30px;padding:45px 0 0 0;_padding:0 0 0 0;}
.header_lt{ min-width:230px;_width:expression((documentElement.clientWidth <230) ? "230px" : "auto" );text-align:right;}
.header_lt .user_name{ margin:20px 0 0 0; display:inline-block;}
.header_lt .user_name a{ font-size:18px; font-family:"Microsoft YaHei";color:#fafafa; line-height:20px;}
.header_lt .user_name a strong{ font-weight:100; font-style:normal;}
.header_lt .web_url{ margin:0 5px 0 0;}
.header_lt .web_url a{color:#fafafa;}



.nav{width:480px; height:60px; margin:15px 0; display:inline-block;}
.nav ul{ width:480px; height:60px; background:url(../images/nav_ul_bg.png) no-repeat;-moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;-moz-box-shadow:1px 1px 4px #464646; -webkit-border-shadow:1px 1px 4px #464646; box-shadow:1px 1px 4px #464646;behavior:url(/public/css/pie.htc);}
.nav ul li{width: 90px;height: 60px;position: relative;line-height: 60px;margin: 0px 15px;float: left;display: inline;color: #f4f4f4;font-size: 20px;text-align: center;
}
.nav ul li a{ font-size:20px; font-family:"Microsoft YaHei"; line-height:60px;color:#f4f4f4; text-decoration:none;}
.nav ul li a:hover{color:#f4f4f4; text-decoration:none;}
.nav ul .current{ background:#666; cursor:pointer;}
.nav ul .current a{ font-weight:bold;color:#f4f4f4; text-decoration:none;}
.nav ul .current a:hover{ font-weight:bold;color:#f4f4f4; text-decoration:none;}



.main_shadow{ width:980px; margin:0 auto; background:url(../images/main_shadow_bg.png) repeat-y; position:relative;clear:both;}
.main{ width:960px; margin:0 auto;background:url(../images/main_rt_bg.png) repeat; overflow:hidden; border-radius:8px; }
.main_lt{ width:1000px; background:url(../images/main_lt_bg.png) repeat #fff;}
.main_lt h2{ position:relative;  border-bottom: 2px solid #CBCBCB; display: inline-block;height: 45px; margin: 0 0 1px 20px; padding: 2px 0 0 2px; width: 900px;}
.main_lt h2 span{     float: left; font-size: 14px;line-height: 30px;margin: 0 30px 0 0; padding: 0 0 8px; font-family: "Microsoft YaHei"; color:#808080;}
.main_lt h2 span a {color: #808080;font-family: "Microsoft YaHei";font-weight: 100;text-decoration: none;}
.main_lt h2 .xc_current {font-weight: bold;line-height: 39px; margin-bottom: -2px;position: relative;}
.main_lt h2 .xc_current a { font-weight: bold;}
.main_lt .h2_bor{border:none;}
.main_lt .content{ width:650px; margin: 10px 25px;display: inline; float:left; cursor: default; position:relative;}
.main_lt .content .top{ padding:10px 20px ;display:inline-block; width:610px; height:auto; border:0;}
.main_lt .content .top img{ margin:10px 5px 0 0; display:block; float:left;}
.main_lt .content .top span{ margin:0 10px 0 0;line-height:35px;}
.main_lt .content .top span a{ font-size:20px; font-family:"Microsoft YaHei"; font-weight:bold;color:#212121;}
.main_lt .content .top strong{ margin:0 10px 0 0;line-height:35px;}
.main_lt .content .top strong a{font-size:14px; font-family:"Microsoft YaHei";color:#3385b9; white-space:nowrap;}
.main_lt .content .top .tag span{ line-height:20px; margin:0 10px 0 0;color:#757575;font-size:12px;font-family:"Microsoft YaHei"; cursor: default;}
.main_lt .content .top .tag span a{color:#212121;font-size:12px; font-family:"Microsoft YaHei";}
.main_lt .content .cnt{ padding:10px 20px ; text-align:center;}
.main_lt .content .cnt img{ max-width:610px !important; _width:expression((documentElement.clientWidth >610) ? "230px" : "auto" ); margin:10px 0;}
.main_lt .content .cnt .txt{ width:610px; word-wrap: break-word; padding:5px 0; line-height:24px; color:#5c5c5c;font-size:14px; font-family:"Microsoft YaHei"; cursor: default; letter-spacing: 1px; text-align:left;}
.main_lt .content .cnt .txt p{ line-height:24px; color:#5c5c5c;font-size:14px; font-family:"Microsoft YaHei";margin: 20px 0;text-indent: 2em;word-break:break-all;}
.main_lt .content .bt{ height:55px;}
.main_lt .content .bt ul{margin:0 20px 0 20px; float:left; }
.main_lt .content .bt ul li{line-height:50px;padding:0 20px 0 30px; text-align:left;float:left; }
/*.main_lt .content .bt ul li{line-height:50px; width:80px; padding:0 0 0 25px; text-align:left;float:left; }*/
.main_lt .content .bt ul .li_one{ background:url(../images/main_lt_content.png) no-repeat scroll 4px -48px;}
.main_lt .content .bt ul .li_two{background:url(../images/main_lt_content.png) no-repeat scroll 0 -87px;}
.main_lt .content .bt ul .li_three{background:url(../images/main_lt_content.png) no-repeat scroll 2px -129px;}
.main_lt .content .bt ul li a{color:#327DAE;font-size:12px; font-family:"Microsoft YaHei"; text-decoration:none;}
.main_lt .content .bt ul li span{ padding:0 2px;}
.main_lt .page_turn{ display:inline-block; width: 650px;  margin: 5px 25px 15px 25px; text-align:right; position:relative; height:30px; }
.main_lt .page_turn ul{ float:right;} 
.main_lt .page_turn ul li{ float:left; margin:0 10px 0 0; background:#fff; text-align:center;color:#464646;font-size:14px; font-family:"Microsoft YaHei"; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;behavior:url(/public/css/pie.htc); cursor:pointer;}
.main_lt .page_turn ul .etc{ float:left; margin:0 10px 0 0;background:#fff; padding:6px 12px 4px 12px; text-align:center;color:#464646;font-size:14px; font-family:"Microsoft YaHei"; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;behavior:url(/public/css/pie.htc); cursor:pointer;}
.main_lt .page_turn ul li a{ color:#464646;font-size:14px; padding:6px 12px 4px 12px; display:block; font-family:"Microsoft YaHei";}
.main_lt .page_turn ul .page_current{ background:#cccccc;}




.main_rt{ width:260px; }
.main_rt .user_par{ width:214px; margin:15px;padding:8px; display:inline-block;}
.main_rt .user_par .tp{width:214px; height:120px; text-align:center; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; position:relative;}		
.main_rt .user_par .tp img.find_name_img{width:120px; height:120px;-moz-box-shadow:4px 4px 4px #213738; -webkit-box-shadow:4px 4px 4px #213738; box-shadow: 4px 4px 4px #213738; border-radius:5px;}
/*.main_rt .user_par .tp img{width:120px; height:120px;}*/
.main_rt .user_par h2{ line-height:25px; margin:15px 0 0 5px; text-align:center;}
.main_rt .user_par h2 a{ color: #fffefe; font-size: 18px; font-family:"Microsoft YaHei"; text-decoration:none;}
.main_rt .user_par ul.user_par_ul{ margin:15px 0 15px 5px;}
.main_rt .user_par ul.user_par_ul li{ font-size:14px; letter-spacing:1px; font-family:"Microsoft YaHei";line-height:25px;color: #fffefe; cursor: default; }
.main_rt .user_par ul.user_par_ul li span{ font-weight:bold; font-family:Arial, Helvetica, sans-serif;  float: right;}
.main_rt .grph{ margin:0 15px 15px; padding:0 0 10px 10px;}
.main_rt .grph div ul{ width:auto; clear:none; margin:0;}
.main_rt .grph div ul li{ float:left; margin:6px 0 0 5px;padding:2px 5px; color:#fff; font-size:12px;font-family:"Microsoft YaHei"; font-weight:bold; cursor:pointer; line-height:normal;}
.main_rt .grph div span{color:#fff; font-size:18px;font-weight: 600;letter-spacing:2px;font-family:"Microsoft YaHei"; cursor: default; line-height:30px;}
.main_rt .grph div ul .grph_current{background:#1e1e1e;-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;behavior:url(/public/css/pie.htc); position:relative;}
.main_rt .grph ul{ width:220px; padding:5px 0;overflow:hidden;display:inline-block;}
.main_rt .grph ul li{ color:#fff; font-size:12px;font-family:"Microsoft YaHei"; line-height:24px;}
.main_rt .grph ul li a{ color:#fff;padding-left:5px; font-size:12px;font-family:"Microsoft YaHei"; text-decoration:none;letter-spacing:1px;}
.main_rt .zjlf{margin:0 15px 15px; padding:0 0 15px 0; }
.main_rt .zjlf span.zjlf_sp{color:#fff; font-weight:600;letter-spacing:2px; font-size:18px;font-family:"Microsoft YaHei"; cursor: default; line-height:30px; margin:0 0 0 10px;}
.main_rt .zjlf span em{font-style:normal;font-family: Tahoma; padding:0 5px;}
.main_rt .zjlf span em img{margin:-4px 0px;}
.main_rt .zjlf strong{margin:0 20px 0 0;}
.main_rt .zjlf strong a{color:#fff; font-size:14px;font-family:"Microsoft YaHei"; line-height:30px;  font-weight:100;}
.main_rt .zjlf ul.zjlf_ul{ width:230px; margin:10px 0 0 0;display:inline-block; /*overflow:hidden;*/ position: relative;}
.main_rt .zjlf ul li.zjlf_li{ float:left; width:45px; height:45px; padding:0 6px 10px 6px; display:inline-block;}
.main_rt .zjlf ul li img.zjlf_img{ width:45px; height:45px; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;-moz-box-shadow:1px 1px 3px #000; -webkit-border-shadow:1px 1px 3px #000; box-shadow:1px 1px 3px #000;behavior:url(/public/css/pie.htc); position:relative;}
.main_rt .bwfl{ width:220px; margin:0 20px 0 20px; }
.main_rt .bwfl span{color:#fff; font-weight: 600;letter-spacing:2px;font-size:18px;font-family:"Microsoft YaHei"; cursor: default; line-height:30px; margin:0 5px 0 5px ;}
.main_rt .bwfl span a{color:#3385b9; font-size:14px;font-family:"Microsoft YaHei"; font-weight:bold;}
.main_rt .bwfl ul {width:220px; clear:both; margin:5px 0 20px 0;}
.main_rt .bwfl ul li{ font-size:14px;font-family:"Microsoft YaHei"; color:#fff; line-height:24px;}
.main_rt .bwfl ul li a{ font-size:14px;  letter-spacing: 1px; font-family:"Microsoft YaHei"; color:#fff; }
.main_rt .bwfl ul li a span{font-size:14px;font-family:Arial, Helvetica, sans-serif; color:#fff;line-height:24px; margin:0;padding:0 5px;}
.main_rt .rqgd{ width:250px; margin:10px 0 0 10px; float:left; display:inline; }
.main_rt .rqgd span{color:#fff; font-size:18px;font-weight: 600;  letter-spacing:2px; font-family:"Microsoft YaHei"; margin:0 5px 0 15px ; cursor:default;}
.main_rt .rqgd ul{margin: 5px 0 20px;}
.main_rt .rqgd ul li ul{margin:0;display:inline-block; width:210px;}
.main_rt .rqgd ul li{ padding:0 0 0 15px; margin:0 0 0 10px;font-size:14px;font-family:"Microsoft YaHei"; color:#c8c8c8; text-decoration:none; line-height:30px; height:30px;min-width:65px;_width:expression((documentElement.clientWidth <65) ? "65px" : "auto" );}
.main_rt .rqgd ul li span{color:#fff; font-size:14px;font-family:Arial, Helvetica, sans-serif; margin:0; cursor:pointer; }
.main_rt .rqgd ul li ul li{ height:20px; line-height:20px; margin:0 10px 0 0;cursor: default;}
.main_rt .rqgd ul li strong{color:#C8C8C8;letter-spacing:1px; font-family:"Microsoft YaHei";font-size: 14px; font-weight:100; padding:0 5px 0 5px; cursor:pointer;}
.main_rt .rqgd ul li ul li a strong{color:#C8C8C8;font-family:"Microsoft YaHei";font-size: 14px;font-weight:100;  padding:0 0 0 5px;}
.main_rt .rqgd ul li ul li a:hover{ color:#fff;}
.main_rt .rqgd ul li ul li span{margin:0 ;}
.main_rt .rqgd ul .btnimg_pr{background:url(../images/tablist_btn.png) no-repeat scroll 0 8px;}
.main_rt .rqgd ul .btnimg{background:url(../images/tablist_btn.png) no-repeat scroll 0 -45px;}
.main_rt .rqgd ul .li_line{ height:auto; line-height:20px;}








/*å°¾éƒ¨*/
.footer{ background:#272727; width:100%;position:relative;}
.footer div{width: 960px;margin:0 auto;padding:40px 0; line-height: 24px;  color: #f2f2f2; font-size:14px;font-family:"Microsoft YaHei"; text-align:center; cursor:default;}
.footer div span{ margin:10px; display:inline-block;}
.footer div span img{ width:105px; height:40px; display:block;-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;behavior:url(/public/css/pie.htc); position:relative;}






/*å¹¿å‘Š*/
.advert1{ margin:15px 25px; display:inline-block; width:630px; padding:10px; background:#ffffff;clear:both;}
.advert1 img{ width:630px;  display:block;}
.advert2{ margin:10px 25px; display:inline-block; width:630px;padding:10px; background:#ffffff; clear:both;}
.advert2 img{ width:630px;  display:block;}
.advert3{ margin:0 15px 15px; display:inline-block; width:230px; background:#ffffff; clear:both;/* padding-bottom:24px;background:url(../images/main_rt_bt_bg.png) repeat-x scroll -5px bottom;  */}
.advert3 img{ width:220px; display:block;}
.advert3 .advert3_bor{border:5px solid #2a2a2a;}
.advert4{ margin:0 15px 15px; display:inline-block; width:230px; clear:both; padding-bottom:24px;  }
.advert4 img{ width:220px;  display:block;}
.advert4 .advert4_bor{ border:5px solid #2a2a2a;}
.advert5{text-align:center; margin:0 20px; display:inline-block; padding:9px; border:1px solid #dfdfdf; background:#ffffff;clear:both;}
.advert5 img{ width:670px;  display:block; }




/*æ¨¡æ¨¡é€æ˜Ž index_opactiy.html
.body_opacity{ background:url(../images/index_opacity.jpg) no-repeat top center #000; background-attachment:fixed;}
*/
.body_opacity .main, .body_opacity .main_shadow{ background:none;}
.body_opacity .main_rt_opacity{ width:260px; float:left;min-height:1073px;*min-height:1078px; _min-height:1079px;background-color:#000;filter:alpha(opacity=50); -moz-opacity:0.5; opacity:0.5; }
.body_opacity .main_lt{ min-height:1280px;*min-height:1608px; _min-height:1609px;}
.body_opacity .main_rt{ margin:0 0 0 -260px; position: relative;}



/*åˆ—è¡¨é¡µ pl_list.html*/
.pl_list .main_shadow{ background:none; position:relative;}
.pl_list .main_lt{ background:#fff;}
.pl_list .main_lt .mrfl{width:800px; margin:0 25px 0; }
.pl_list .main_lt .mrfl ul li{ width:895px; float:left; clear:both; font-size:14px; color:#747474; border-bottom:1px dotted #aeaeae; line-height:55px; height:55px;}
.pl_list .main_lt .mrfl ul li img{ float:left; margin:16px 0 0 5px;}

.pl_list .main_lt .mrfl ul li h2{ float:left;  background:none;  padding: 20px 0 0 0px; margin:0; line-height:43px;border: none;width: auto; }
.pl_list .main_lt .mrfl ul li h2 a span{ font-size:16px; font-weight:normal;font-family:"Microsoft YaHei"; color:#464646; text-decoration:none;margin: 0;}
.pl_list .main_lt .mrfl ul span{ float:left; margin:27px 0 0 22px;}
.pl_list .main_lt .mrfl ul span img{ width:16px; height:16px;margin:0;}
.pl_list .main_lt .mrfl ul li strong{ float:right; font-size:12px; font-weight:normal;font-family:Arial, Helvetica, sans-serif; font-style:normal; color:#b2b2b2; margin:10px 20px 0 0 ; cursor:default;}
.pl_list .main_lt .page_turn {  margin: 30px 25px 50px;}



/*menu*/
#more{float:right; width:70px; margin-top:19px;position:relative; *position:static;}
#more .mainlevel {border:1px solid #eee; background:#f3f3f3 url(../images/pl_list_img.png) no-repeat 48px 8px; height:22px; width:70px;}
#more .mainlevel a { cursor:pointer;  font-size:14px; color:#3385b9;font-family:"Microsoft YaHei";  text-decoration:none; line-height:22px; display:block; padding-left:7px; width:63px;}
#more .mainlevel a:hover { font-size:14px; color:#3385b9;font-family:"Microsoft YaHei";   text-decoration:none; padding-left:7px;  background:#e8e8e8; width:63px; height:22px; line-height:22px;}
#sub_01{display:none;  border:1px solid #eee; border-bottom:0;position:absolute;margin-left:-1px; z-index:1;} 
#sub_01 li { border-bottom:1px solid #eee; line-height:22px; height:22px; background:#fff; width:70px;}




/*kl_list.html*/
.kl_list .main_rt_opacity{ width:260px; height:915px; }
.kl_list .main_lt{ height:915px; position: relative;} 
.no_list_bw .write_bw{height:200px; background:url(../images/notext.png) no-repeat scroll 140px 80px #fff; line-height:200px; text-align:center;font-size:16px;font-family:"Microsoft YaHei"; color:#404040;}
.no_list_bw .write_bw a{ color:#047ad1; }


/*finaly*/
.finaly .main_lt h2{ margin:0 0 10px 0; padding:2px 0 0 20px; display:inline-block; color:#434343;}
.finaly .main_lt h2 a{ font-size:14px;font-family:"Microsoft YaHei"; font-weight:100;line-height:37px; color:#808080;}
.finaly .main_lt h2 em{ font-size:12px; font-family:"å®‹ä½“";font-weight:bold; font-style:normal; color:#808080;}
.finaly .main_lt h2 strong{ font-size:14px;font-family:"Microsoft YaHei"; font-weight:bold;line-height:37px; cursor:default; color:#808080; font-style:normal; font-weight:100;}
.finaly .main_lt{ background:#fff; position:relative;}
.finaly .main_lt .content{margin:10px; width:680px; box-shadow:none;}
.finaly .main_lt .content .bt{ height:auto; background:#fff;}  /* change  height:auot ;  20130416*/
.finaly .main_lt .content .bt ul{ margin:0;}

.finaly .main_lt .content .bt .vote{ text-align:center; height:125px; position:relative;}  
.finaly .main_lt .content .bt .vote strong{ font-style:normal; font-weight:bold; position:absolute; left:200px; top:5px; color:#CF364C;font-size:16px;}
.finaly .main_lt .content .bt .vote em{ font-style:normal; font-weight:bold; position:absolute; left:465px; top:5px;color:#2D95BE;font-size:16px;}


.finaly .main_lt .content .bt .vote{ text-align:center; height:125px;}
.finaly .main_lt .content .bt .vote span{width:95px; height:35px;margin:0 35px;padding:70px 5px 0; cursor:pointer; line-height:25px;display: inline-block;font-size:14px;font-family:"Microsoft YaHei";}
.finaly .main_lt .content .bt .vote .zheng{ background:url(../images/finaly_vote_fu.png) no-repeat; color:#cf364c;}
.finaly .main_lt .content .bt .vote .fu{ background:url(../images/finaly_vote_zheng.png) no-repeat; color:#2d95be;}
.finaly .main_lt .content .cnt .txt { width:640px;}
.finaly .main_lt .content .cnt img { max-width:640px; _width:expression((documentElement.clientWidth >640) ? "640px" : "auto" );}
.finaly .main_lt .content .top { width:520px; padding:10px 140px 10px 20px ;}
.finaly .main_lt .content{ position:relative; margin:10px 10px 0 10px;}
.finaly .main_lt .content input{ border:0; background:url(../images/finaly_read_btn.png) no-repeat; width:98px; height:40px; cursor:pointer; font-size:16px;font-family:"Microsoft YaHei"; color:#3385b9; padding-bottom:2px; *padding:0; position:absolute; right:20px; top:18px;} 
.finaly .main_lt .content .bt ul .li_one { background: url("../images/finaly_main_lt_content.png") no-repeat scroll 0 -45px transparent;}
.finaly .main_lt .content .bt ul .li_two {background: url("../images/finaly_main_lt_content.png") no-repeat scroll 0 -85px transparent;}
.finaly .main_lt .content .bt ul .li_three { background: url("../images/finaly_main_lt_content.png") no-repeat scroll 0 -125px transparent;}
.finaly .main_lt .article_page{height:20px;line-height:20px; text-align:right; border-bottom:1px solid #e2e2e2; background:#fff; margin:0 20px 10px; padding:0 10px 15px 0; overflow:hidden; }
.finaly .main_lt .article_page a{font-size:12px;font-family:"Microsoft YaHei"; color:#464646;}
.finaly .main_lt .article_page a:hover{ color:#277bd0;}
.finaly_pl{min-height:380px; padding:15px 45px 10px; display:inline-block;  position:relative;}
.finaly_pl .finaly_pl_pl{ font-size:20px;font-family:"Microsoft YaHei"; color:#212121; border-left:2px solid #333;  padding-left:20px; margin-bottom:15px; }
.finaly_pl .tp{ width:610px; margin:0 0 8px 0; overflow:hidden;}
.finaly_pl .tp .nicheng{ height:34px; background:url(../images/finaly_nicheng.png) no-repeat; border:none; border:1px solid #c6c6c6; padding:0 5px; margin:0 10px 0 0; display:inline;}
.finaly_pl .tp .nicheng span{font-size:14px;font-family:"Microsoft YaHei"; color:#393939; line-height:34px;}
.finaly_pl .tp .nicheng input{ width:147px;height:34px; line-height:34px; border:none; background:none; font-size:14px;font-family:"Microsoft YaHei"; color:#393939;}
.finaly_pl .tp .youxiang{ height:34px; background:url(../images/finaly_youxiang.png) no-repeat; border:none; border:1px solid #c6c6c6; padding:0 5px;}
.finaly_pl .tp .youxiang span{font-size:14px;font-family:"Microsoft YaHei"; color:#393939; line-height:34px; }
.finaly_pl .tp .youxiang input{ width:242px;height:34px; line-height:34px; border:none; background:none; font-size:14px;font-family:"Microsoft YaHei"; color:#393939;}
.finaly_pl .cnt{ overflow:hidden; display:inline-block; }
.finaly_pl .cnt textarea{ background:url(../images/finaly_textarea.png) no-repeat; border:none; border-radius:4px; width:620px; height:66px;border:1px solid #c6c6c6; overflow:hidden; resize:none; margin:2px 15px 2px 0; font-size:14px;font-family:"Microsoft YaHei"; color:#393939; line-height:22px; padding:5px 5px 20px 5px;}
.finaly_pl .cnt input{ width:87px; height:95px; background:url(../images/finaly_fabu.png) no-repeat; resize:none; border:none; font-size:18px;font-family:"Microsoft YaHei"; color:#3f3f3f; cursor:pointer; font-weight:bold;}
.finaly_pl .cnt span{ width:610px; position:absolute; top:50px; right:100px; line-height:20px;}
.finaly_pl .cnt_textarea_dialog{ width:600px; text-align:right;line-height:20px;font-size:12px;font-family:"Microsoft YaHei"; color:#A0A0A0; margin:-22px 0 0 0;position:relative; overflow:hidden; float:left; cursor:default;}
.finaly_pl .bt{ float:left; width:620px;margin:5px 0 15px 0;  position:relative;} 
.finaly_pl .bt span{text-align:right; float:left; background:url(../images/finaly_pl_bq_bg.png) no-repeat 5px 5px; width:55px;  line-height:30px;}
.finaly_pl .bt span a{font-size:12px;font-family:"Microsoft YaHei"; color:#3f3f3f; }
.finaly_pl .bt input{ float:right; border:1px solid #c6c6c6; resize:none; background:url(../images/finaly_textarea.png) no-repeat; width:75px; height:24px; margin:3px 0 3px 0; line-height:24px;}
.finaly_pl .bt input.bt_fb{ float:right;border:none; border-radius:4px; margin-left:10px; background:#458ADB; color:#fffefe;}
.finaly_pl .bt strong{ float:right; font-style:normal;font-size:12px;font-family:"Microsoft YaHei"; color:#3f3f3f; line-height:30px;}
.finaly_pl .bt img { display:block; float:right; height:20px; width:100px; margin:5px;}
.finaly_pl .pl_cont{ float:left; width:635px; position:relative; z-index:0;}
.finaly_pl .pl_cont ul{ width:635px;margin:0 0 10px 0; display:inline-block;}
.finaly_pl .pl_cont ul li{ width:630px;_width:635px;border-bottom:1px dashed #c6c6c6; padding:10px 10px 10px 0; _padding:10px 5px 10px 0;  float:left; display:inline; overflow:hidden;}
.finaly_pl .pl_cont ul li img{ float:left; width:50px; height:50px; margin:5px 15px 0 5px;-moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;-moz-box-shadow:1px 1px 4px #c6c6c6; -webkit-border-shadow:1px 1px 4px #c6c6c6; box-shadow:1px 1px 4px #c6c6c6;behavior:url(/public/css/pie.htc); border:none;}
.finaly_pl .pl_cont ul li .txt{ width:560px; float:right;}
.finaly_pl .pl_cont ul li .txt div span{ margin:0 20px 0 0; float:left; line-height:30px; color:#277bd0;font-family:"Microsoft YaHei"; font-size:14px;}
.finaly_pl .pl_cont ul li .txt div span a{font-size:14px;font-family:"Microsoft YaHei"; color:#3385b9;}
.finaly_pl .pl_cont ul li .txt div strong{font-size:14px;font-family:"Microsoft YaHei"; color:#b2b2b2; font-style:normal;font-weight:100; float:left;padding:3px 0 0 0; line-height:27px; margin:0 5px 0 0; cursor:default;}
.finaly_pl .pl_cont ul li .txt div em{font-size:14px;font-family:"Microsoft YaHei"; color:#a0a0a0; font-weight:100;font-style:normal; float:right;line-height:30px; margin:0 10px 0 0; cursor:default;}
.finaly_pl .pl_cont ul li .txt p{font-size:14px;font-family:"Microsoft YaHei"; color:#666; line-height:25px; overflow:hidden; width:530px; overflow:hidden;}
.finaly_pl .pl_cont ul li .txt p img{ width:30px; height:30px; margin:0; padding:0px; border:none; float:none;border-radius:none;box-shadow:none; vertical-align:middle;}
.finaly_pl .pl_cont ul li .txt .de_ba span{margin:0 10px 0 10px; float:right;}

.finaly_pl .pl_cont ul li .li_min{ float:left;  background:#f4f4f4; display:inline; padding: 5px 0 10px 4px; position:relative;}/*xushu change   del margin:0 0 0 70px;   20130409*/
.finaly_pl .pl_cont ul li .li_min .txt{  width:456px;}
.finaly_pl .pl_cont ul li .li_min .txt p{  width:410px;}
.finaly_pl .pl_cont ul li .li_min .bt_de{ position:absolute; right:10px; bottom:10px;font-size:14px;font-family:"Microsoft YaHei"; color:#3385b9;}
.finaly_pl .pl_cont ul li .li_min .bt_de span{ margin:0;}

.finaly_pl .pl_cont ul li .txt .huifu{ text-align:right; float:right; padding:10px 0 0 0; position:relative; }
.finaly_pl .pl_cont ul li .txt .huifu .jiantou{ position:absolute; top:1px;*top:2px; right:65px;}
.finaly_pl .pl_cont ul li .txt .huifu .jiantou img{  width:15px; height:10px;box-shadow:none;border-radius:0; border:none; margin:0; float:none;}
.finaly_pl .pl_cont ul li .txt .huifu textarea{ width:500px; height:65px; resize:none; border:1px solid #c6c6c6; padding:5px; overflow:hidden; line-height:30px;background:url(../images/finaly_textarea.png) no-repeat; line-height:20px;}
.finaly_pl .pl_cont ul li .txt .huifu span{font-size:12px;font-family:"Microsoft YaHei"; color:#A0A0A0; float:none; margin:0; height:34px; padding:2px 0 0 0; line-height:34px; margin:2px 0; float:right;cursor:default;}
.finaly_pl .pl_cont ul li .txt .huifu input{ resize:none; width:77px; height:34px; padding:2px 0 0 0; line-height:32px; border:none; background:url(../images/finaly_huifu_fabu.png) no-repeat; cursor:pointer;font-size:14px;font-family:"Microsoft YaHei"; color:#3f3f3f; font-weight:bold; margin:4px 0 4px 10px; float:right;}

.finaly_pl .pl_cont .gd{ text-align:center; position:relative; height:35px; padding:20px 0 0 0; overflow:hidden; }
.finaly_pl .pl_cont .jz{ text-align:center; position:relative; height:20px; padding:20px 0 0 0; overflow:hidden; }
.finaly_pl .pl_cont .jz img{height: 200px;left: 140px; position: absolute; top: -62px;width: 250px; }
.finaly_pl .pl_cont .jz a, .finaly_pl .pl_cont .gd a{ font-size:12px;font-family:"Microsoft YaHei"; color:#404040; text-decoration:none;}
.finaly_pl .pl_cont .jz a{ position:absolute; top:20px; left:285px;}



.finaly_pl .bq .jiantou{position:absolute;top:221px; left:65px;_left:20px; z-index:2;}
.finaly_pl .bq .jiantou img{ width:15px; height:10px; margin:0; float:none;}
.finaly_pl .bq .bq_ps{ width:395px;background:none; overflow:hidden; position:absolute;top:225px; left:45px; _left:0;z-index:1; padding:5px; }
.finaly_pl .bq .bq_shadow{ border:1px solid #C6C6C6;-moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;-moz-box-shadow:1px 1px 4px #cccccc; -webkit-border-shadow:1px 1px 4px #cccccc; box-shadow:1px 1px 4px #cccccc;behavior:url(/public/css/pie.htc); padding:10px; position:relative; overflow:hidden; background:#fff; display:inline-block;}
.finaly_pl .bq ul{border-left: 1px solid #C6C6C6;border-top: 1px solid #C6C6C6; overflow:hidden; display:inline-block;}
.finaly_pl .bq ul li{ width:30px; height:30px;border-right: 1px solid #C6C6C6;border-bottom: 1px solid #C6C6C6; text-align:center; float:left; display:inline-block;}
.finaly_pl .bq ul li img{ width:30px; height:30px; display:block; float:none; margin:0; cursor:pointer;}



/*index_notext*/


.vote_add{ position:absolute; top:0; left:225px; display:none;}
.vote_add1{ position:absolute; top:0; left:345px; display:none;}

.main_lt .content .write_bw{ height:200px; background:url(../images/notext.png) no-repeat scroll 140px 80px #fff; line-height:200px; text-align:center;font-size:16px;font-family:"Microsoft YaHei"; color:#404040;}
.main_lt .content .write_bw a{ color:#047ad1; }
.main_rt .zjlf p{font-size:14px;font-family:"Microsoft YaHei"; color:#ffffff; clear:both; padding:6px 0 0 2px; line-height:35px; display:block; height:35px; cursor:default;}
.main_rt .bwfl p{font-size:14px;font-family:"Microsoft YaHei"; color:#ffffff; clear:both; padding:0 0 0 10px; line-height:35px; display:block; height:35px; cursor:default;}

/*.jiathis{ height:24px; display:block; padding:0 0 0 420px;}*/




#ywtShareBtnUl{ float:left !important;}
#ywtShareBtnUl li{padding:0 !important;}
.ywt_share .w25 .shareBtn { width:auto !important;}
.nav ul li .new{ position:absolute; right:-5px; top:10px; background:url(../images/5-120601152107-50.gif) no-repeat;width:29px; height:16px; }

.hb_test{ background:#ffffff;}
.hb_test .tit{ width:610px; height:42px;line-height:42px; padding:2px 20px 0 20px; margin-bottom:0 border:none;background:#505359; font-family:"Microsoft YaHei"; font-size:20px; font-weight:100;color:#ffffff; font-style:italic;letter-spacing: 0.05em;}
.hb_test h3{padding:30px 20px 5px 20px;font-family:"Microsoft YaHei"; font-size:18px; font-weight:100;color:#333740; letter-spacing: 0.05em;}
.hb_test ul{ margin:0 0 0 60px; padding:15px 0;}
.hb_test ul li{ color:#666666;font-family:"Microsoft YaHei"; font-size:16px; line-height:30px;}
.hb_test p { padding:0 20px 20px 60px;font-family:"Microsoft YaHei"; font-size:16px; line-height:25px; color:#666666;}
.hb_test p a{ color:#1d97a2;}
.hb_test .bt_tit{ width:610px; height:42px;line-height:42px; padding:2px 0 5px 0; margin:20px 20px 0; border:none; font-family:"Microsoft YaHei"; font-size:20px; font-weight:100;color:#333740; font-style:italic;letter-spacing: 0.05em; background:url(../images/bt_tit.png) repeat-x left 45px;}
.hb_test dl{ margin:0 25px; padding:20px 0 50px 0; overflow:hidden;}
.hb_test dd{ width:280px; float:left; overflow:hidden; display:inline-block; padding:0 10px;margin-bottom:15px; vertical-align:middle; height:58px;font-family: "Microsoft YaHei";font-size: 16px;line-height: 28px;  }
.hb_test dd a{ color: #666666; text-decoration:none;}
.hb_test dd img{ width:56px; height:56px; margin:0 14px 0 0; border:1px solid #dde3ea;float:left; }

 
 
.txt_href a{text-decoration: underline;}
 
/*æ–‡ç« ä¸­çš„aæ ‡ç­¾*/
.txt p a {color:#3385b9;}

/*********new head**********/
@charset "utf-8";
/* CSS Document */
.header_top{width:100%; height:40px; padding:1px 0; border-bottom:1px solid #e1e1e1; background:#f6f6f6;font-family:"Microsoft YaHei"; position:fixed; top:0; left:0; z-index:999;_position:relative;}
.header_top .header_all { width:1000px; margin:0 auto; height:40px; line-height:40px; }
.header_top .header_all img{ float:left; margin:4px 0;}
.header_top .header_all em{ font-style:normal; font-weight:100; margin:0 10px; float:left; font-family:"-webkit-pictograph";*font-family:"sans-serif"; }
.header_top .header_all strong{ height:40px;border-right:1px solid #e2e2e2; float:left; }
.header_top .header_all strong img{ margin:10px 25px 10px 0;}
.header_top .header_all .no_login input{ float:right;}
.header_top .header_all .no_login span{ font-family:"Microsoft YaHei"; font-size:12px; color:#000000; float:right;}
.header_top .header_all .no_login span input{ float:none;}
.header_top .header_all .no_login button{ width:61px; height:28px; line-height:28px; margin:6px 0 0 10px; resize:none; border:none;font-family:"Microsoft YaHei"; font-size:14px;  cursor:pointer; float:right; }
.header_top .header_all .no_login .dl{ background:url(../images/login.jpg) no-repeat; color:#ffffff; }
.header_top .header_all .no_login .zc{ background:url(../images/regit.jpg) no-repeat; color:#666666;}
.header_top .header_all .no_login .jzw{ width:13px; height:13px; margin:14px 5px 13px 10px;}
.header_top .header_all .no_login .yhm, .header_top .header_all .no_login .mm{ width:165px; padding:0 5px; height:26px; *line-height:26px; margin:6px 0 6px 10px; border:1px solid #dfdfdf; background:#ffffff;font-family:"Microsoft YaHei"; font-size:14px;color:#666666;}
.header_top .header_all .login button{width:45px; height:28px; margin:6px 0 0 5px; resize:none; border:none; background:url(../images/serch_btn.png) no-repeat;font-family:"Microsoft YaHei"; cursor:pointer; float:right;}
.header_top .header_all .login input{ float:right; width:110px; padding:0 5px; height:28px; *line-height:28px; margin:5px 0 0 10px; border:1px solid #dfdfdf; background:#ffffff;font-family:"Microsoft YaHei"; font-size:14px;color:#666666;}

.header_top .header_all .login strong{ font-style:normal; font-size:14px; color:#333333; font-weight:100; border:none;float:right;}
.header_top .header_all .login strong img{ width:18px; height:18px; margin:11px 10px 0 30px; float:left;}
/*å¤´éƒ¨ä¸‹æ‹‰èœå•*/
/* common styling */
/* set up the overall width of the menu_lst div, the font and the margins */
.menu_lst {
font-family:"Microsoft YaHei";  
margin:0 0 0 30px; 
float:right;
}

.menu_lst img{ width:25px; height:25px; margin:8px 5px 0 5px !important;}
/* remove the bullets and set the margin and padding to zero for the unordered list */
.menu_lst ul {
padding:0; 
margin:0;
list-style-type: none;
}
/* float the list so that the items are in a line and their position relative so that the drop down list will appear in the right place underneath each list item */
.menu_lst ul li {
float:left; 
position:relative;
}
/* style the links to be 104px wide by 30px high with a top and right border 1px solid white. Set the background color and the font size. */
.menu_lst ul li a, .menu_lst ul li a:visited {
display:block; 
text-align:center; 
text-decoration:none; 
height:40px; 
color:#277bd0; 
line-height:40px; 
font-size:14px;
background:url(../images/lst_bottom.png) no-repeat right center;
}
.menu_lst ul li .hide_a{padding:0 20px 0 0;text-align: left;}
/* make the dropdown ul invisible */
.menu_lst ul li ul {
display: none;
}
/* specific to non IE browsers */
/* set the background and foreground color of the main menu_lst li on hover */
.menu_lst ul li:hover a {
display:block;
color:#333333; 
background:url(../images/lst_up.png) no-repeat right center #e6e6e6;
text-decoration:none;
}
/* make the sub menu_lst ul visible and position it beneath the main menu_lst list item */
.menu_lst ul li:hover ul {
display:block; 
position:absolute; 
top:40px; 
right:0; 
width:100px;
border-bottom: 1px solid #e1e1e1;
}
/* style the background and foreground color of the submenu_lst links */
.menu_lst ul li:hover ul li a {
display:block; 
background:#e6e6e6;
color:#333333;
border-top:1px solid #fff;
width:100px;
}
/* style the background and forground colors of the links on hover */
.menu_lst ul li:hover ul li a:hover {
background:#bfbfbf; 
color:#fff;
font-weight:bold;
}


/* Media Queries
====================================================================== */

/* å®½å±ç”µè„‘ */
@media (min-width: 1200px) { ... }

/* å¹³æ¿ç”µè„‘å’Œå°å±ç”µè„‘ä¹‹é—´çš„åˆ†è¾¨çŽ‡çš„æ ·å¼ */
@media (min-width: 768px) and (max-width: 979px) { ... }

/* æ¨ªå‘æ”¾ç½®çš„æ‰‹æœºå’Œç«–ç›´æ”¾ç½®çš„å¹³æ¿ä¹‹é—´åˆ†è¾¨çŽ‡çš„æ ·å¼ */
@media (max-width: 767px) { ... }

/* æ¨ªå‘æ”¾ç½®çš„æ‰‹æœºåŠåˆ†è¾¨çŽ‡æ›´å°çš„è®¾å¤‡çš„æ ·å¼ */
@media (max-width: 480px) { ... }






/*********new head**********/
.menu_lst ul li:hover .a_bg_none {background:none;}
.menu_lst ul li .a_bg_none, .menu_lst ul li .a_bg_none:visited{background:none;}


  


@charset "utf-8";
/* CSS Document */


.bk_j{ width:960px; padding:0 20px; overflow:hidden;}
.carousel-01 {width:260px; background:#dddddd; float:left;}
.carousel-01 .prev , .carousel-01 .next {height:14px;width:21px;overflow:hidden;display:block; margin: 5px 0 5px 120px; text-decoration:none;cursor:pointer;}
.carousel-01 .prev:hover , .carousel-01 .next:hover { text-decoration:none;}
.carousel-01 .prev {background:url(../images/bk_j_prev.png) no-repeat;}
.carousel-01 .next {background:url(../images/bk_j_next.png) no-repeat;}
.jCarouselLite-01 {height:500px;width:260px;overflow:hidden;/*å¿…è¦å…ƒç´ */}
.jCarouselLite-01 li{height:166px;width:260px;text-align:center; float:left; position:relative;}
.jCarouselLite-01 li img{ width:260px; height:166px; float:left;}
.jCarouselLite-01 li p{ width:260px;height:30px; line-height:30px;font-family:"Microsoft YaHei"; font-size:14px; color:#ffffff; position:absolute; bottom:0;*position:static;*margin:-30px 0 0 0; background: rgba(0, 0, 0, 0.3);filter:progid:DXImageTransform.Microsoft.gradient(enabled = 'ture',startColorstr = '#30000000',endColorstr = '#30000000');}
.jCarouselLite-01 li a:hover{ text-decoration:none;}

.bk_j_rt{ width:380px; margin:0 0 0 25px;overflow:hidden; float:left;}
.bk_j_rt .zttj{ overflow:hidden;}
.bk_j_rt .zttj .newzt{width:auto; height:auto; background:none; border:none; margin:0;padding:0;font-family:"Microsoft YaHei"; font-size:18px; color:#cf210a; font-weight:100; }
.bk_j_rt .zttj .newzt span{ float:none; margin:0;font-size:18px; color:#212121;}
.bk_j_rt .zttj dl dd{ width:100%; padding:10px 0; float:left;}
.bk_j_rt .zttj dl dd img{ width:160px; height:105px;float:left;}  
.bk_j_rt .zttj dl dd .rt{ width:200px;margin:-5px 0 0 20px; line-height:24px; float:left;}
.bk_j_rt .zttj dl dd .rt h3{ padding:0 0 5px 0;font-family:"Microsoft YaHei";}
.bk_j_rt .zttj dl dd .rt h3 a{ font-size:16px; color:#212121; font-weight:100;font-family:"Microsoft YaHei"; }
.bk_j_rt .zttj dl dd .rt p{font-size:12px; color:#5c5c5c; line-height:20px;}

.bk_j_rt .bwtj{ overflow:hidden; widht:235px;}
.bk_j_rt .bwtj .newbw{width:auto; height:auto; background:none; border:none; margin:0;padding:0;font-family:"Microsoft YaHei"; font-size:18px; color:#cf210a; font-weight:100; }
.bk_j_rt .bwtj .newbw span{float:none; margin:0;font-size:18px; color:#212121;}
.bk_j_rt .bwtj dl dd{ width:100%; line-height:28px; float:left;}
.bk_j_rt .bwtj dl dd h3{font-family:"Microsoft YaHei";}
.bk_j_rt .bwtj dl dd h3 span{ float:left;}
.bk_j_rt .bwtj dl dd h3 span a{ font-size:14px; color:#333333; font-weight:100; }
.bk_j_rt .bwtj dl dd h3 strong{font-style:normal; font-size:12px; color:#777777; font-weight:100; float:right; }

.bk_j_rtt{ width:260px; height:580px;  float:right;}

/*ç”¨æˆ·å¤´åƒä¿¡æ¯*/
.name_zl{ width:320px; height:190px;  position:absolute; border:1px solid #ebebeb; z-index: 999; background: #fff; display: none; }
.name_zl_rt{ top:0px ; right:52px;}
.name_zl_rt130{ top:-3px; right:170px;}
.name_zl_lt{ top:0px; left:45px;}
.find_name{ position:relative;}
.name_zl_top{ width:100%; height:140px;font-family:"Microsoft YaHei";  overflow:hidden;}
.name_zzc{ width:100%; height:100%;  background-color:#CCC; opacity:0.5; -moz-opacity:0.5; filter:alpha(opacity=50); z-index:-1;}		
.name_tl{   width:95px; height:95px;  position: relative; top:10px; left:0px; float:left;
			 overflow:hidden; border-radius:50%;}

.name_tl img{ width:91px; height:91px; border-radius:50%; border:2px #fff solid;}
.name_zl_xx{ width:195px; float:left; margin:10px 0 0 10px; height:100%;}
.name_zl_xx h2 { height:26px; font-weight: normal; margin:0px;}
.main_rt .user_par .name_zl_xx h2{ text-align:left;}
.name_zl_xx h2 a{ color:#f7ce38; font-size:20px; }
.name_zl_xx h3{ height:50px; overflow:hidden; font-weight: normal; text-align:left;}
.name_zl_xx h3 a{ color:#fff; font-size:14px;  }
.name_pl{ padding:0 8px; position:absolute; top:0; left:0;}

.name_zl_xx a:hover{ color:#09F;}

.name_zl_ct ul li{ float:left;  height:35px; margin-right:20px;}
.name_zl_ct ul li:last-child{ margin-right:0px;}
.name_zl_ct ul li a{  text-align:center; font-size:14px;color:#fff; line-height:normal; display:inline-block; padding-right:20px; line-height:20px;}
.name_zl_ct ul li a span{ line-height:20px;}
.name_zl_ct ul li i{ display:inline-block; border-left:1px #FFF solid; height:28px;}
.name_zl_ct{ margin-top:5px; width:100%;}			
.name_zl_ct ul li a:hover{ color:#09F;}			
.name_jy{ height:50px;  text-align:center; border-top:1px solid #c9c9c9;}
.name_jy p{  font-size:14px; color:#808080; line-height:50px; text-indent:5px; font-family:"Microsoft YaHei"; }
.name_jy p span{ color:#1d98ff;} 
.name_jy ul.name_jy_ul{ margin-top:12px;}
.name_jy ul li.name_jyli{width:70px; float:left; line-height:25px; text-align:center; margin-right:10px;}
.name_jy .blue {font-size:13px;float:left;display:block;width: 70px; height:25px; line-height:25px;overflow: hidden;border-width: 1px;border-style: solid;box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); background:#1d98ff; color:#FFF;border-color: #D9D9D9;border-radius:5px;}
.name_jy .n_btn {font-size:13px;float:left;display:block; width: 70px; height:25px; line-height:25px;overflow: hidden;border-width: 1px;border-style: solid;box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); background:#808080; color:#FFF;border-color: #D9D9D9;border-radius:5px;}

.ficon_add { padding-right:1px;}
.ficon_add img{vertical-align:sub; }
.n_qxhy {font-size:14px; width: 70px; overflow: hidden;border-width: 1px;border-style: solid;box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);color: #333;background-color: #FFF;	border-color: #D9D9D9;}
.n_qxhy li{ padding:0px; background:#1d98ff; color:#FFF; border-bottom:1px solid #FFF;}
.n_qxhy li:last-child{ border-bottom:0px;}
.n_qxhy li a{display:block; line-height:26px; color:#fff; font-size:13px; }
.n_qxhy li a:hover{ background:#CCC; color:#FFF; }


/**/
.hi_jhy{ background:url(../images/hi_img.png) left center no-repeat; padding-left: 25px; /*width:410px;*/ height:30px; position:absolute; top:8px; right:5px;}
.hi_jhy_2{font-family:"Microsoft YaHei"; background:url(../images/hi_img.png) left center no-repeat; padding-left: 25px; height:30px;  margin:10px 5px 0 0px;float:right; }
.hi_jhy	a, .hi_jhy_2 a{ display:inline-block; margin-left:10px; width:56px; height:26px; line-height:26px; font-size:14px; border:1px solid #ef9d2b; border-radius:4px; text-align:center; text-decoration:none;}
.hi_jhy	a.queding, .hi_jhy_2 a.queding{ background:#ef9d26; color:#fff;}
.hi_jhy	a.qvxiao, .hi_jhy_2 a.qvxiao{ background:#fff; color:#ef9d26;}
.hi_jhy span,.hi_jhy_2 span{font-family:"Microsoft YaHei"; font-size:14px; color: #808080;}
.hi_jhy .hi_cl,.hi_jhy_2 .hi_cl{ float:right; cursor: pointer; padding:0 10px;}










/*å¤´éƒ¨ä¸‹æ‹‰èœå•*/
/* common styling */
/* set up the overall width of the menu div, the font and the margins */
.menu {
font-family:"Microsoft YaHei";  
margin:0 0 0 30px; 
float:right;
}

.menu img{ width:25px !important; height:25px !important; margin:8px 5px 0 5px !important; float:left;}
/* remove the bullets and set the margin and padding to zero for the unordered list */
.menu ul {
padding:0; 
margin:0;
list-style-type: none;
}
/* float the list so that the items are in a line and their position relative so that the drop down list will appear in the right place underneath each list item */
.menu ul li {
float:left; 
position:relative;
z-index:999;
}
/* style the links to be 104px wide by 30px high with a top and right border 1px solid white. Set the background color and the font size. */
.menu ul li a, .menu ul li a:visited {
	min-width:80px;
display:block; 
text-align:center; 
text-decoration:none; 
height:40px; 
color:#277bd0; 
line-height:40px; 
font-size:14px;
border-left: 1px solid #f6f6f6;
border-right: 1px solid #f6f6f6;
background:url(../images/permanent/lst_bottom.png) no-repeat right center ;
}
/* make the dropdown ul invisible */
.menu ul li ul {
display:none;
}
/* specific to non IE browsers */
/* set the background and foreground color of the main menu li on hover */
.menu ul li:hover a {
display:block;
color:#333333; 
border-left: 1px solid #e1e1e1;
border-right: 1px solid #e1e1e1;
background:url(../images/permanent/lst_up.png) no-repeat right center #fff;
text-decoration:none;
}
/* make the sub menu ul visible and position it beneath the main menu list item */
.menu ul li:hover ul { 
position:absolute; 
top:40px; 
right:1px; 
width:100px;
border-bottom: 1px solid #e1e1e1;
border-right: 1px solid #e1e1e1;
display:block;
}
/* style the background and foreground color of the submenu links */
.menu ul li:hover ul li a {
display:block; 
background:#fff;
color:#333333;
border-top:1px solid #f6f6f6;
width:100px;
font-size:12px;
height:30px;
line-height:30px;
letter-spacing:1px;
}
/* style the background and forground colors of the links on hover */
.menu ul li:hover ul li a:hover {
background:#e3ecf4; 
color:#333333;
font-weight:100;
}
.menu ul li .hide{padding:0 20px 0 0;}
.menu_tz ul li a, .menu_tz ul li a:visited{ text-align:left;background:url(../images/dxx_menu_down.png) no-repeat right center ;}
.menu_tz ul li:hover a {background:url(../images/dxx_menu_up.png) no-repeat right center #fff;}
.menu_tz ul li:hover ul {width:130px;left:0;}
.menu_tz ul li:hover ul li a { width:110px; padding:0 10px;}
.menu_tz ul li a b{ width:18px; height:15px; line-height:15px; margin:0 0 0 2px;font-size:10px; color:#fff; text-align:center; font-family:serif;  font-style:normal; background:url(../images/dxx_red.png) no-repeat center center; font-weight:100; display:inline-block; position:absolute; top:8px;}
.menu_tz ul li:hover ul li i{ width:18px; height:15px; line-height:15px; margin:8px 0 0 0;font-size:10px; color:#fff; text-align:center; font-family:serif;  font-style:normal; background:url(../images/dxx_red.png) no-repeat center center; font-weight:100;display:inline-block; position:absolute; right:10px; top:0;}

/*æœªç™»å½•çŠ¶æ€ä¸‹å¼¹å‡ºå±‚*/
.msgbox_wrapper {border: #222 1px solid; background-color: #fff; overflow: hidden; vertical-align:top;background-color: rgb(0, 0, 0);}
.msgbox_title_wrapper {width: 100%;list-style-type:none;margin:0;height:24px; vertical-align: middle; padding:4px; vertical-align:middle;height:30px;height: 40px;background: #f9f9f9;margin-bottom: 6%;}
.msgbox_title {float:left;line-height: 22px; height:22px; padding-left: 10px; color: #fff; font-size: 12px; font-weight: bold;}
.msgbox_main {text-align: center; padding: 12px; color:#4f4f4f; overflow: auto;font-family: "Microsoft Yahei";font-size: 14px;}
/*.msgbox_bg {height:100%;background-color: rgb(0,0,0);}*/
.msgbox_button {border: 1px solid #010; font-family:"Courier New", Courier, monospace;}
.msgbox_inputbox {border: 1px solid #010; font-family:"Courier New", Courier, monospace;}
.msgbox_close {width: 9px;height: 10px;background: url(../images/reg_question_close_08.jpg) no-repeat left center;float: right;display: block;margin: 15px;display: inline;line-height: normal;font-size: 0;cursor: pointer;}
 #jMsgboxBox{width: 368px;height:209px;margin: 0 auto;background: #fff;filter: progid:dximagetransform.microsoft.shadow( color=#999999,direction=120, strength=3);box-shadow: 1px 1px 3px #999999;border: 1px solid #d2d2d2;}
.msgbox_title{height: 40px;display: block;float: left;text-align: center;color: #717171;line-height: 40px;font-family: "Microsoft Yahei";text-indent: 26px;font-size: 14px;}
.msgbox_main div input{ outline: medium;border: none;}
#jMsgboxBox input{width: 87px;height: 39px;background: url(../images/reg_question_ok.png) no-repeat center center;display: block;float: left;font-family: "Microsoft Yahei";font-size: 14px;color: #fff;line-height: 39px;text-align: center;border: none;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;behavior: url(css/PIE.htc);position: relative;cursor: pointer;margin-top: 20px;}
.pop_strong{width:38px;height:38px;display:block;background:#060;float:left;background: url(../images/strong_06.jpg) no-repeat center center;    
  margin-right:16px;}
.pop_sure{margin-top: 10px;}
.pop_chose{margin-left:97px; }
.pop_chose span{float: left;}






.bindBox{background: rgba(0,0,0,0.5);position: fixed;top:0;left: 0;width: 100%;height: 100%;z-index:9}
.bindT{position:relative;font-size: 0;max-width: 400px;margin: 0 auto;background: #fff;top: 50%;transform: translateY(-50%);border-radius: 5px;    padding: 20px 10px;}
.bindT h2{font-size:28px;line-height: 2.5em;text-align: center;}
.bindT span{font-size: 16px;color: #d81e06;display: flex;align-items:flex-start;margin: 0px 20px 15px;}
.bindT span img{margin-right: 5px;width: 16px;}
.huform{width:100%;padding:0 30px;margin: 20px auto;box-sizing: border-box;}
.labelR{font-size: 14px;clear: both;overflow: hidden}
.labelR label{float: left;line-height: 40px;}
.labelR span{height: 36px;display: flex;margin: 10px 0 0 54px;float: left;line-height: 18px;visibility: hidden}
.labelR input{float: left;border: 1px solid #ccc;border-radius: 5px;height: 40px;width: 77%; padding: 0 20px;    box-sizing: border-box;}
.labelR1 input{width: 49%}
.labelR1 input,.labelR1 label,.labelR1 span,.labelR1 button{float: left}
.labelR button{border-radius: 5px;background: #0060CD;color: #fff;border: none;width: 26%;min-height: 40px;font-size: 14px;margin-left: 2%;}
.hsubmit,.hsubmitActive{width: 100%;display:block;padding: 10px 20px;border: none;border-radius: 5px;color: #fff;font-size:20px}
.hsubmitActive{background:#0060CD; }
.hclose{    width: 16px;position: absolute;right: 0;top: 20px;opacity: 0.5;}
.hclose:hover{opacity: 1}




