@charset "utf-8";
/* CSS Document */
/*body{margin:0; padding:0;}*/
p,form,input,a{margin:0; padding:0}
/*问题窗口样式*/
.reg_question{width:367px;margin: 0 auto; height:249px;background:#fff;filter:progid:dximagetransform.microsoft.shadow( color=#999999,direction=120, strength=3);box-shadow:1px 1px 3px #999999; border:1px solid #d2d2d2;}
.title_bar{width:100%; height:40px; background:#f9f9f9;}
.prompt{height:40px; display:block; float:left; text-align:center; color:#717171; line-height:40px; font-family:"Microsoft YaHei"; text-indent:26px}
.close_pr{width:9px; height:10px; background:url(../images/close_pr.png) no-repeat left center; float:right; display:block; margin:15px; display:inline; line-height:normal; font-size:0; cursor:pointer;}
.reg_question .que_main{font-size:12px; padding:26px 0 0 42px; color:#575757}
.reg_question .reg_input{width:302px; height:40px; display:block; background:url(../images/reg_question_input_22.jpg) no-repeat right bottom; border:none; padding:27px 0 0 33px; color:#b6b6b6; line-height:40px; text-indent:1em}
.sub{width:100%;}
.ok{width:87px; height:40px; background:url(../images/reg_question_ok.png) no-repeat center center; display:block; float:left; font-family:"Microsoft YaHei"; font-size:14px; color:#fff; line-height:40px; text-align:center; border:none;  margin:30px 0 0 128px; _margin:30px 0 0 64px;-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;behavior:url(css/PIE.htc); position:relative; cursor:pointer;}
.cancel{width:95px; height:40px; background:url(../images/reg_question_cancel.png) no-repeat center center; display:block; float:left; font-family:"Microsoft YaHei"; font-size:14px; color:#575757; line-height:40px; text-align:center; border:none;margin:30px 0 0 20px;_margin:30px 0 0 10px;-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;behavior:url(css/PIE.htc);position:relative; cursor:pointer;}

/*删除图片样式*/
.del_pic{width:367px;margin: 0 auto; height:217px;background:#fff;filter:progid:dximagetransform.microsoft.shadow(color=#999999, direction=120,strength=3);box-shadow:1px 1px 3px #999999; border:1px solid #d2d2d2;}
.chose{width:200px; height:38px;padding:30px 0 0 88px}
.strong{width:38px; height:38px; display:block; background:#060; float:left; background:url(../images/strong_06.jpg) no-repeat center center;}
.sure{height:38px;width:162px; float:left;font-family:"Microsoft YaHei"; font-size:14px; color:#4f4f4f; line-height:38px; text-indent:15px}
.reg_question .ok, .del_pic .ok{ margin: 30px 0 0 88px;_margin: 30px 0 0 44px;}

/*正在注册，请稍等提示*/
.loading p{color: #4F4F4F; font-family: "Microsoft YaHei";font-size: 18px; line-height:80px; background:url(../images/loading.gif) no-repeat -60px -80px; text-align:center; padding:0 0 100px 0;}










